
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{ seo.title }}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Twig testing</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{{ activeClass('home') }}"><a href="/">Home</a></li>
            <li class="{{ activeClass('presentation') }}"><a href="/?p=presentation">Presentation</a></li>
            <li class="{{ activeClass('societe') }}"><a href="/?p=company">Company</a></li>
            <li class="{{ activeClass('contact') }}"><a href="/?p=contact">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>